.container  {
    margin: 0 auto;
    border: 1px solid #252525;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    width: 180px;
    height: 180px;
}
.block{
    width: 20px;
    height: 20px;
    margin: 5px;
    background-color: slategray;
    cursor: pointer;
}
.clicked{
    background-color: #262624;
}
.find{
    background-color: red;
}
.item{
    display: none;
}
.catch{
    display: inline;
}